.profile {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    div {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .filter-box {
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
  
  }
}