.UploadCandidate {
  width: 100%;
  height: 100%;
  // padding-left: 5%;
  // padding-right: 5%;
  // margin-top: 50px;
  background: transparent;
  .form-body {
    // font-size: 16px;
    .view-pdf {
      width: 100%;
      height: 100vh;
      background: #d7d7d7;
    }
    .btn-cance {
      margin: 0 8px;
    }
    .form-input {
      form#basic {
        padding-top: 16px;
      }
      label.ant-form-item-required {
        padding-bottom: 8px;
      }
      .ant-row.ant-form-item {
        margin-bottom: 16px;
      }
      span.ant-select-selection-placeholder {
        font-size: 12px;
        color: #828282;
      }
      input {
        padding: 12px;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
      }
      .ant-row.ant-form-item.positon , .ant-row.ant-form-item.bankuser{
        .ant-select-selector {
          height: 100%;
          padding: 5px;
        }
      }
      .ant-row.ant-form-item.laguage , .ant-row.ant-form-item.level, .ant-row.ant-form-item.location{
        .ant-select-selector {
          height: 100%;
          padding: 0px;
        }
      }
    }
  }
}
