.job-detail {
  .txtdescription {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
  button#rc-tabs-0-tab-1 {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    width: 148px;
    text-align: center;
    display: block;
  }
  button#rc-tabs-0-tab-2 {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    width: 148px;
    text-align: center;
    display: block;
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    font-weight: bold;
  }
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    height: 4px;
    background-color: #56CCF2;
}
}
