.uploadcv {
  width: 100%;
  height: 100%;
  // padding-left: 5%;
  // padding-right: 5%;
  // margin-top: 50px;
  background: transparent;
  .boude-menu{
    height: 254px;
    background-color: #221f20;
    // .ant-row.menu {
     
    // }
    .menu {
      height: 100px;
      text-transform: uppercase;
      font-weight: bold;
      .login-btn {
        float: right;
      }
      li.ant-menu-item.option-menu.ant-menu-item-only-child {
        color: wheat;
        text-transform: uppercase;
        display: block;
        font-weight: bold;
      }
      ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
        background-color: #221f20;
        color: white;
        height: 100px;
        padding-top: 20px;
        // position: fixed;
        // top: 0;
        border: none;
      }
      // butoo
      button.ant-btn.login-btn.ant-btn-primary.ant-btn-dangerous {
        margin-top: 27px;
        margin-right: 50px;
        width: 300px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background: #fff;
    border-radius: 5px;
    padding: 10px;
    div {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .form-body {
    font-size: 16px;
    .view-pdf {
      width: 100%;
      height: 100vh;
    }
    .btn-cance {
      margin: 0 8px;
    }
  }
}
