$yellow: #ffd400;
$black: #000000;
$white: #fff;

$red: #9d060e;
$red-cost: #fa3434;

$blue: #007bff;
$blue02: #3898ff;

$oragen: #ff9017;

$green01: #6dd400;
$green02: #e5f7e7;

$gray01: #eaeaea;
$gray02: #e4e4e4;
$gray08: #4a4a4a;
$gray09: #969696; 