.jobListContainer {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    div {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .filter-box {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    .body {
      .salary-form {
        display: flex;
        align-items: center;
        .content {
          display: block;
          margin: 0px 10px;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
      b {
        font-weight: 500;
      }
    }
    .title {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: 16px;
    }
    .filter-option {
      .filter-button {
        text-align: right;
        button {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .custom-company {
    display: flex;
    .logo-company {
      width: 100px;
      margin-right: 10px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info-required {
      text-align: left;
      .job-level {
        .tag-level {
          margin: 2;
          cursor: pointer;
        }
      }
      .job-role {
        margin: 5px 0px;
      }
      b.name-company {
        color: #3273dc;
        cursor: pointer;
      }
      b.name-company:hover {
        color: hotpink;
        cursor: pointer;
      }
    }
  }

  .custom-role {
    b.name-role {
      color: #3273dc;
      display: block;
      text-align: center;
    }
    b.name-role:hover {
      color: hotpink;
      cursor: pointer;
    }
  }
  .bold-number {
    color: #3273dc;
    display: block;
    text-align: center;
  }
  .bold-number:hover {
    color: hotpink;
    cursor: pointer;
  }
}
.ant-modal-root {
  .ant-modal-mask {
    background: transparent;
  }
  .title-model {
    text-align: center;
  }
  .description-model {
    text-align: center;
  }
  .post-job {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid gray;
    padding: 50px;
    height: 170px;
    cursor: pointer;
    background: whitesmoke;
  }
  .reward {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid gray;
    padding: 50px;
    height: 170px;
    cursor: pointer;
    background: whitesmoke;
}
}
