@import '../node_modules/antd/dist/antd.css';

.main {
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  // color: #007bff;
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.authenticate-page {
  height: 100vh;
  width: 100%;
  background-image: url('/src_assets_images_background.svg');
  display: flex;
  justify-content: center;
  align-items: center;
}
