.container-box.authenticate-page {
  padding: 0;
}
.home-page {
  width: 100%;
  height: 100%;
  .ant-row.card {
    margin-top: -70px;
  }

  .boude-menu {
    height: 254px;
    background-color: #221f20;
    .search {
      margin-top: 70px;
      padding-top: 70px;
      height: 50px;
      .ant-select-selector {
        padding: 10px;
      }
      .ant-col.ant-col-12.search1 {
        padding-right: 10px;
      }
      .ant-col.ant-col-3.search2 {
        padding-right: 10px;
      }
      button.ant-btn.search-btn.ant-btn-primary.ant-btn-dangerous {
        height: 50px;
        font-weight: bold;
        // margin-left: 10px;
      }
      .search-btn {
        .search-btn {
          width: 100%;
        }
      }
      .search2 {
        .ant-select-selector {
          height: 100%;
      }
      }
    }
    .menu {
      position: fixed;
      top: 0px;
      width: 100%;
      background: #221f20;
      z-index: 2;
      height: 70px;
      text-transform: uppercase;
      font-weight: bold;
      .task-bar {
        ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
          float: right;
        }
      }
      .name-logo {
        width: 30%;
        background: white;
        padding: 10px;
        margin-top: 20px;
      }
      .login-btn {
        float: right;
      }
      li.ant-menu-item.option-menu.ant-menu-item-only-child {
        color: wheat;
        text-transform: uppercase;
        display: block;
        font-weight: bold;
      }
      ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
        background-color: #221f20;
        color: white;
        height: 70px;
        padding-top: 20px;
        // position: fixed;
        // top: 0;
        border: none;
      }
      // butoo
      button.ant-btn.login-btn.ant-btn-primary.ant-btn-dangerous {
        margin-top: 27px;
        // margin-right: 50px;
        // width: 300px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .content-page {
    // margin-top: 50px;
    .news {
      background: white;
      margin-top: 20px;
      padding: 10px;
      .img-news {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title-news {
      font-size: 25px;
      font-weight: bold;
    }
    .news-right {
      padding: 10px;
      margin-top: -70px;
      background: white;
      .title-right {
        text-align: center;
        margin-bottom: 20px;
      }
      .title-right-child {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
      }
      .description {
        text-align: center;
      }
      .location {
        text-align: center;
      }
      .img-news {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        margin-top: 6px;
      }
    }
  }

  footer.ant-layout-footer {
    width: 100%;
  }
}
