
.authenticatePage {
  height: 100vh;
  width: 100%;
  background: url(../../assets/images/background.svg) no-repeat center 0;
  display: flex;
  justify-content: center;
  padding-top: calc(100vh/5);
}
