.jobListContainer {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    div {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .filter-box {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    .body {
      .salary-form {
        display: flex;
        align-items: center;
        .content {
          display: block;
          margin: 0px 10px;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
      b {
        font-weight: 500;
      }
    }
    .title {
      font-weight: bold;
      margin-bottom: 7px;
      font-size: 16px;
    }
    .filter-option {
      .filter-button {
        text-align: right;
        button {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .custom-company {
    display: flex;
    .logo-company {
      width: 100px;
      margin-right: 10px;
      min-width: 100px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    b.name-company {
      color: #3273dc;
    }
    b.name-company:hover {
      color: hotpink;
      cursor: pointer;
    }
    .info-required {
      text-align: left;
      .job-role {
        margin: 5px 0px;
      }
    }
  }
  .group-btn-action {
    display: flex;
    align-items: center;
    svg {
      font-size: 16px;
    }
    button {
      padding: 0px 5px;
      height: 25px;
      margin: 2px;
    }
  }
  .ant-tabs-bar {
    margin-bottom: -2px;
  }
  .custom-role{
    b.name-role {
      color: #3273dc;
      display: block;
      text-align: center;
    }
    b.name-role:hover {
      color: hotpink;
      cursor: pointer;
    }
  }
 
}
