.job-list-home {
  width: 100%;
  height: 100%;
  div#tsparticles {
    z-index: -1;
    position: absolute;
    width: 100%;
    background:url('https://d3t1myknaqth5d.cloudfront.net/files/1592989184.jpeg'),  #C4C4C4;
    background-repeat: round;;
    // background: radial-gradient(74.84% 74.84% at 50% 54.97%, #0B1446 0%, #04050A 100%);
    top: 0;
    bottom: 0;
    height: 338px;
  }
  .boude-menu {
    height: 350px;
    // background: #221f20;
    padding-top: 80px;
    .searchh {
      margin-top: 40px;
      // padding-top: 70px;
      height: 50px;
      .ant-select-selector {
        padding: 10px;
      }
      .ant-col.ant-col-12.search1 {
        padding-right: 10px;
      }
      .ant-col.ant-col-3.search2 {
        padding-right: 10px;
      }
      button.ant-btn.search-btn.ant-btn-primary.ant-btn-dangerous {
        height: 50px;
        font-weight: bold;
        background: #00cdfb;
        border-color: #00cdfb;
        color: white;
        // margin-left: 10px;
      }
      .search-btn {
        .search-btn {
          width: 100%;
        }
      }
      .search2 {
        .ant-select-selector {
          height: 100%;
        }
        .search1.col-sm-6 {
          padding: 0;
        }
        .search-btn.col-sm-3 {
          padding: 0;
        }
      }
    }
  }
  .job-list {
    border: 1px solid #15090936;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 100px;
    background: #f2f2f2;
    // margin-top: -100px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2),
      0px 4px 15px rgba(0, 0, 0, 0.12);
  }
  .job-lists {
    border: 1px solid #15090936;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    background: #f2f2f2;
    margin-top: -100px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2),
      0px 4px 15px rgba(0, 0, 0, 0.12);
  }
  .job-lists.col-sm-12{
    text-align: center;
  }
}
